<!DOCTYPE html>
<head>
  <title>comments</title>

  <body>
    <h1>comments</h1>
    <ul>
    <% for(let c of comments) { %>
      <li><%=c.username%><b><%=c.comment%></b></li>
      <% } %>
  </ul>
    </body>
  </html>
