<!DOCTYPE html>
<head>
  <title>new comments</title></head>
  <body>
    <h1>make a new comment</h1>
    <form action="/comments" method="post">
      <section>
      <label for="">Enter username:</label>
<input type="text" placeholder="username"name="username" >
    </section>
    <section>
<label for="comment">comment text</label>
<br>
<textarea rows="8" cols="80" name="comment"></textarea>
<button>submit</button>
      </section></form>
    </body>
</html>
