<!DOCTYPE html>
<head>
  <title>Home</title>
  <link ref="stylesheet" href="/css/bootstrap.min.css">
  <script src="/js/jquery.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>
    <h1>Ejs home page</h1>
    <p>asbdhyagdju dgvdyjweuydjkiw hdgweiuihweguqwew</p>

  </body>
</html>
